body {
    background: url("https://i.pinimg.com/originals/7d/b4/f6/7db4f675de8ebfcee294b2fc7d1e6452.gif");
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}


.profile-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 150px;
    border-radius:50%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.50);
  }

.profile-name {
      text-align: center;
      padding: 30px;
  }

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
      backdrop-filter: blur(20px);
      background-color: rgba(1, 0, 70, 0.199);
      box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.301);
      text-transform: uppercase;

  }

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s; 
}

a:hover {
    color: #000;
    background: #fff;
    transition: ease-in-out 0.3s;
    letter-spacing: 5px;
}
